.header {
  height: 80px;
  width: 100%;
  background-color: #CC33FF;
  position: fixed;
  margin-bottom: 20px;
  padding: 0 20px;
  z-index: 9999;
  &__title {
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
    display: inline;
  }
  &__menue {
    float: right;
    padding-right: 40px;
    li {
      list-style: none;
      display: inline;
      line-height: 80px;
      padding-right: 10px;
      font-size: 20px;
    }
  }
}
.header__link{
  color: black;
  text-decoration: none;
}
.link__menue {
  text-decoration: none;
  color: black;
}
.search {
  display: inline;
  position: absolute;
  top: 15px;
  left: 470px;
  &__form {
    display: inline-block;
  }
  &__quely {
  width: 400px;
  height: 50px;
  border: solid 3px #CC33FF;
  border-radius: 30px;
  outline: none;
  padding: 0 10px;
 }
 &__button {
  border: solid 3px #CC33FF;
  border-radius: 30px;
  outline: none;
  font-size: 20px;
 }
}
.search__quely::placeholder {
  text-align: center;
}
