.user__name {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: black;
  padding-top: 100px;
}
.user{
  padding: 40px 20px;
  position: relative;
  background-color: white;
  margin-top: 60px;
  border: solid 3px #CC33FF;
  border-radius: 30px;
  width: 1000px;
  margin: 60px auto 0 auto;
  font-weight: bold;
}
